<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/brand/OneDrive/Documents/AutomationClass/Way2assessment">
        <classes>
            <class name="Tests.Way2Test">
                <methods>
                    <include name="validateUserListTable"/>
                    <include name="addFirstUser"/>
                    <include name="addSecondUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>